.button-container {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.player-button img {
    width: 200px;
    height: auto;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s;
}

.player-button img:hover {
    transform: scale(1.1);
}