form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 526px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 7px;
    opacity: 0.75;
    font-size: 0.9rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: rgba(55, 55, 55, 1);
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
}

.flecha__atras{
    position: absolute;
    top: 16px;
    left: 16px;
}

.flecha__atras img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.boton,
.botonRegistrate a{
    width: 100%;
    max-width: 496px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1f1f1f;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all .2s ease;
}

.boton:hover,
.botonRegistrate a:hover{
    transform: scale(1.05);
    opacity: 0.85;
}

.botonRegistrate{
    margin-top: 2rem;
}

.botonRegistrate a{
    width: 496px;
    color: white;
    background-color: #A64D79;
    text-decoration: none;
}