.hand {
    margin-bottom: 20px;
}

.card {
    aspect-ratio: 2/3;
    width: 80px;
    margin: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 0.8em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 200ms;
    position: relative;
    overflow: hidden;
}

.cardJugador{
    width: 120px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#draw_pile {
    position: absolute;
    left: 5em;
    top: 5em;
}

#draw_pile .card.top-card,
#draw_pile .card.pile {
    position: absolute;
}

#draw_pile .card.pile {
    box-shadow: 0px 2px #fff, 0px 4px rgba(0,0,0,0.16), 0px 6px #fff, 0px 8px rgba(0,0,0,0.16), 0px 10px #fff, 0px 12px rgba(0,0,0,0.16), 0px 14px #fff, 0px 16px rgba(0,0,0,0.16), 0px 18px #fff, 0px 20px rgba(0,0,0,0.16);
}

#draw_pile .card.pile:hover,
#discard_pile .card.pile:hover {
    transform: none;
}

#draw_pile .card.top-card,
#discard_pile .card.top-card {
    z-index: 100;
    box-shadow: none;
}

#draw_pile .card.top-card:hover {
    box-shadow: 0px 4px rgba(0,0,0,0.16);
    cursor: pointer;
    transform: translateY(1em) rotateX(60deg) rotateY(10deg) translateX(10px);
}

#draw_pile span{
    position: absolute;
    top: -1.5rem;
    left: 2rem;
}

#discard_pile {
    position: absolute;
    left: 12em;
    top: 5.7em;
}

#discard_pile .card.top-card,
#discard_pile .card.pile {
    position: absolute;
}

#discard_pile .card.pile {
    box-shadow: 0px 2px #fff, 0px 4px rgba(0,0,0,0.16), 0px 6px #fff, 0px 8px rgba(0,0,0,0.16), 0px 10px #fff, 0px 12px rgba(0,0,0,0.16), 0px 14px #fff, 0px 16px rgba(0,0,0,0.16), 0px 18px #fff, 0px 20px rgba(0,0,0,0.16);
}

.game-field {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 0.5em;
    grid-template-columns: 12em 24em 12em;
    grid-template-rows: 12em 24em 12em;
    transform: rotateX(30deg);
}

.game-field #piles_area {
    position: relative;
    border-radius: 4em;
    transition: 200ms;
    background-color: rgba(220,37,28,0.4);
    grid-area: 2/2;
}

#player {
    grid-area: 3/2;
}

#player_left {
    grid-area: 2/1;
}

#player_right {
    grid-area: 2/3;
}

.player_hand {
    position: relative;
}

.player_hand .card {
    position: absolute;
}

#player .player_hand .card {
    cursor: pointer;
}

#player .player_hand .card:hover {
    transform-origin: left bottom;
    transform: rotate(-10deg) translateY(-0.5em);
}

#player .player_hand .card:hover~.card {
    transform: translateX(2em);
}

#player_left .player_hand {
    transform-origin: left bottom;
    transform: rotate(90deg) translateY(-10em);
}

#player_left .player_hand .card{
    transform: rotate(180deg);
}

#player_right .player_hand {
    transform-origin: left bottom;
    transform: rotate(-90deg) translate(-24em, 1em);
}

#player_right .player_hand .card{
    transform: rotate(180deg);
}

.gameover{
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #320061;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gameover a{
    margin-top: 2rem;
    text-decoration: none;
    background-color: #b30000;
    color: white;
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: 1rem;
    transition: all 0.1s ease-in;
}

.gameover a:hover {
    transform: scale(1.125);
}

.gameoverEscondido{
    display: none;
}

.cambioColor{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.cambioColorEscondido{
    display: none;
}

.elegirColor{
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clip-path: polygon(35% 0, 100% 0, 65% 100%, 0% 100%);
}

.cambioColor .elegirColor .rojo{
    background-color: #FF0000;
    position: relative;
    left: 41.5px;
}

.cambioColor .elegirColor .naranja{
    background-color: #FF914D;
}

.cambioColor .elegirColor .negro{
    background-color: #060606;
}

.cambioColor .elegirColor .amarillo{
    background-color: #FFDE59;
    position: relative;
    right: 41.5px;
}

.cambioColor .elegirColor div{
    width: 50%;
    aspect-ratio: 1;
    clip-path: polygon(35% 0, 100% 0, 65% 100%, 0% 100%);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.cambioColor .elegirColor div:hover{
    opacity: 0.75;
}